@tailwind base;
@tailwind components;
@tailwind utilities;
.decoration-blue-300 {
    -webkit-text-decoration-color: #93c5fd;
    text-decoration-color: #93c5fd;
}

.text-blue-300 {
    --tw-text-opacity: 1;
    color: rgb(147 197 253 / var(--tw-text-opacity));
}

.text-green-300 {
    --tw-text-opacity: 1;
    color: rgb(134 239 172 / var(--tw-text-opacity));
}

.decoration-green-300 {
    text-decoration-color: #86efac;
}

.text-amber-300 {
    --tw-text-opacity: 1;
    color: rgb(252 211 77 / var(--tw-text-opacity));
}

.decoration-amber-300 {
    text-decoration-color: #fcd34d;
}

.text-lime-300 {
    --tw-text-opacity: 1;
    color: rgb(190 242 100 / var(--tw-text-opacity));
}

.decoration-lime-300 {
    text-decoration-color: #bef264;
}

.text-sky-300 {
    --tw-text-opacity: 1;
    color: rgb(125 211 252 / var(--tw-text-opacity));
}

.decoration-sky-300 {
    text-decoration-color: #7dd3fc;
}

.decoration-red-300 {
    text-decoration-color: #fca5a5;
}

.text-red-300 {
    --tw-text-opacity: 1;
    color: rgb(252 165 165 / var(--tw-text-opacity));
}

.decoration-rose-300 {
    text-decoration-color: #fda4af;
}

.text-rose-300 {
    --tw-text-opacity: 1;
    color: rgb(253 164 175 / var(--tw-text-opacity));
}

.decoration-emerald-300 {
    text-decoration-color: #6ee7b7;
}

.text-emerald-300 {
    --tw-text-opacity: 1;
    color: rgb(110 231 183 / var(--tw-text-opacity));
}

.text-fuchsia-300 {
    --tw-text-opacity: 1;
    color: rgb(240 171 252 / var(--tw-text-opacity));
}

.decoration-fuchsia-300 {
    text-decoration-color: #f0abfc;
}